:root {
  --vampire-primary: #650202f0;
  --vampire-secondary: #d84343f0;
}

/* Define splat-specific colours for the WOD5E Symbols */
.wod5e .symbol.vampire {
  color: var(--vampire-primary);
}

.sheet.vampire .window-header {
  background: var(--vampire-primary);
}

.sheet.vampire {
  box-shadow: 0 0 20px var(--vampire-primary);
}

.actor.sheet.vampire .sheet-banner {
  background-color: var(--vampire-primary);
  color: #CCC;
}

.actor.sheet.vampire .tabs-container {
  background-color: var(--vampire-secondary);
}

.actor.sheet.vampire .tabs-container .active .navicon {
  background-color: var(--vampire-primary);
  color: #CCC;
}

.actor.sheet.vampire .tabs-container .active .navicon .symbol {
  color: #CCC;
}

.vampire.sheet.window-app .window-resizable-handle {
  border-top: 3px double var(--vampire-primary);
  border-left: 3px double var(--vampire-primary);
  border-bottom: 1px solid var(--vampire-primary);
  border-right: 1px solid var(--vampire-primary);
  background-color: var(--vampire-secondary);
  color: #e9e9e9;
}

/* Resource counters */
.sheet.vampire .resource-value .resource-value-step.active,
.sheet.vampire .resource-value-static .resource-value-static-step.active,
.sheet.vampire .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--vampire-primary);
}

/* Group Sheets */
.group-header.coterie {
  background-color: rgb(121 8 19 / 80%) !important;
}
