:root {
  --vampire-primary: #650202f0;
}

/* Define splat-specific colours for the WOD5E Symbols */
.wod5e .symbol.vampire {
  color: var(--vampire-primary);
}

.sheet.vampire .window-header {
  background: var(--vampire-primary);
}

.sheet.vampire {
  box-shadow: 0 0 20px var(--vampire-primary);
}

.actor.sheet.vampire .sheet-banner {
  background-color: var(--vampire-primary);
  color: #CCC;
}
