<div class="tabs-container">
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="members" title="{{localize "WOD5E.Tabs.Members"}}">
            <div class="navicon">
                <i class="fa-solid fa-person"></i>
            </div>
        </div>
        <div class="item" data-tab="features" title="{{localize "WOD5E.Tabs.Features"}}">
            <div class="navicon">
                <i class="fas fa-gem"></i>
            </div>
        </div>
        <div class="item" data-tab="notepad" title="{{localize "WOD5E.Tabs.Notes"}}">
            <div class="navicon">
                <i class="fas fa-sticky-note"></i>
            </div>
        </div>
        <div class="item" data-tab="settings" title="{{localize "WOD5E.Tabs.Settings"}}">
            <div class="navicon">
                <i class="fa-solid fa-gears"></i>
            </div>
        </div>
    </nav>
</div>
