<header class="item-header">
    <div class="header-fields">
        <div class="skillname field-header big-header">
            {{generateLocalizedLabel skill 'skills'}}
        </div>
    </div>
</header>
