/* The actor sheet itself */
.actor.sheet:not(.minimized) {
  min-width: 850px;
  min-height: 300px;
}

.actor.sheet {
  position: fixed;
  overflow: hidden;
  border-radius: 0;

  .window-content {
    padding: 0;
    padding-bottom: 20px;
    overflow-y: scroll;
    margin-left: 45px;
  }

  /* Input and resource fields */
  input,
  .resource {
    display: flex;
    flex-direction: column;
  }

  input {
    min-height: 26px;
    border-radius: 0;
  }

  /* Limited Sheet */
  .limited-actor-header {
    display: flex;
    flex-grow: 0;

    .header-content {
      flex-grow: 1;
      text-align: center;
      margin-top: auto;
    }
  }

  .limited-description-body {
    padding: 10px;
  }

  /* Actor Header */
  .actor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5px 0 5px;

    input,
    .resource {
      margin-bottom: 5px;
    }

    .header-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 315px;

      .name-field {
        width: 250px;
      }
    }

    .header-profile-img {
      margin-bottom: 10px;
      max-width: 100px;

      img {
        width: 100px;
        height: 100px;
        cursor: pointer;
      }
    }

    .charname input {
      width: 100%;
      text-align: center;
      height: 34px;
      font-size: 23pt;
    }

    .header-fields {
      display: flex;
      width: 100%;
      align-self: flex-end;

      .header-fields-left,
      .header-fields-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        .field-section {
          margin-bottom: 5px;
          width: 250px;
        }
      }

      .header-fields-left {
        padding-right: 10px;
      }

      .header-fields-right {
        padding-left: 10px;
      }
    }

    .field-header {
      justify-content: center;
      margin-bottom: 0;
    }
  }

  /* Experience Tab */
  .tab[data-tab="experience"] {
    .experience-trackers {
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .tracker {
        margin-bottom: 10px;

        input {
          max-width: 50px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

        .field-header {
          font-size: 15pt;
        }
      }
    }

    .xp-controls {
      text-align: right;
    }

    .add-experience {
      font-size: 13pt;
      margin-left: auto;
    }
  }

  /* Features tab */
  .tab[data-tab="features"] {
    .character-details {
      max-width: 400px;
      margin-left: 10px;
      margin-right: 10px;
      align-self: flex-start;

      .field-header {
        font-size: 16pt;
      }

      .detail-row {
        width: 100%;
        margin-bottom: 5px;
      }

      .description-field {
        width: -webkit-fill-available;
        width: -moz-available;

        .resource-label {
          flex-wrap: nowrap;
          display: inline-flex;
        }

        .description-content {
          text-align: initial;
        }
      }
    }

    .features-list .category {
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* Biography Tab */
  .tab[data-tab="biography"] {
    .detailed-section {
      display: inline-flex;
      align-self: flex-start;

      .details-header {
        text-align: center;
      }

      .detail {
        width: 50%;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      input {
        text-align: center;
      }

      input.number {
        min-width: 100px;
      }
    }

    .descriptive-section {
      .field-header {
        font-size: 16pt;
      }

      .description-field {
        margin-bottom: 5px;
      }

      .resource-label {
        flex-wrap: nowrap;
        display: inline-flex;
      }
    }
  }
  
  /* Notes Tab */
  .tab[data-tab="notepad"] {
    .note-container {
      padding: 3px;
      margin: 5px;
      width: 50%;

      .field-header {
        font-size: 16pt;
      }

      prose-mirror {
        height: 400px;
      }
    }
  }

  /* Collapsible Descriptions */
  .collapsible-content {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: Vollkorn, serif;
    line-height: 1.6em;
    word-spacing: 0.05em;
    font-size: 1.1em;
  }

  .collapsible:hover,
  .collapsible:focus {
    cursor: pointer;
  }

  /* Limited View Toggle Button */
  .toggle-limited {
    font-size: 13pt;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
  }

  /* Power Descriptions */
  .discipline-description,
  .edge-description,
  .gift-description {
    width: 100%;
    resize: none;
    font-family: Vollkorn, serif;
    line-height: 1.6em;
    word-spacing: 0.05em;
    font-size: 1em;
    border: 0;
    height: auto;
    font-weight: 500;
    margin-bottom: -8px;
  }

  /* Sheet Banner */
  .sheet-banner {
    text-align: center;
    margin: -10px -10px 5px;
    font-size: 14pt;
    padding: 3px;
    position: absolute;
    bottom: -6px;
    width: 100%;
    left: 10px;
    z-index: 1;
    justify-content: center;

    .actor-type-field {
      text-align: left;
      padding-left: 5px;
    }

    .sheet-label {
      text-align: right;
      padding-right: 5px;
    }
  }

  .resource-plus,
  .resource-minus {
    cursor: pointer;
    flex-grow: 0;
  }
  
  .resource-plus {
    margin-left: 5px;
  }
  
  .resource-minus {
    margin-right: 5px;
  }
  
  .lock-btn {
    max-width: 35px;
    height: 35px;
    align-self: baseline;
  }
  
  .lock-btn i {
    margin: auto;
  }

  /* Sheet tabs */
  section .tab {
    padding: 8px;
  }

  .tabs-container {
    position: absolute;
    height: 100%;
    top: 25px;
    left: -2px;
    overflow: hidden;
  }

  .sheet-tabs {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
    align-items: flex-start;
    width: 50px;
    justify-content: flex-start;
    overflow: hidden;

    > [data-tab] {
      display: flex;
      height: 50px;
      width: 50px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      font-size: 15pt;
      padding: 5px;
    }

    > [data-tab] .navicon {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    > [data-tab] .navicon i,
    > [data-tab] .navicon .wod5e-symbol {
      width: 100%;
    }
  }

  /* Basic Item List Layout */
  .item-list .category {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin: 5px;
    padding: 5px;

    .item-description {
      margin-left: 10px;
      margin-right: 10px;
    }

    .item {
      .item-image {
        flex-grow: 0;

        img {
          border-radius: 50%;
          padding: 2px;
        }
      }

      .item-header {
        font-size: 16pt;
        font-weight: bold;

        .item-controls {
          text-align-last: right;
        }
      }

      .item-name {
        text-align: left;
        padding: 3px;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      .item-controls {
        text-align: right;
        display: contents;

        .item-control {
          margin-left: 3px;
        }
      }
    }
  }

  /* Apply these to all "items," even ones not in "item-list"s */
  .item-header {
    font-size: 16pt;
    font-weight: bold;

    .item-controls {
      text-align-last: right;
    }
  }

  .item-name {
    text-wrap: nowrap;
  }
  
  .item-image img {
    border-radius: 50%;
    padding: 2px;
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
  }

  /* General Resources */
  .resource-header {
    display: block;
    font-weight: 200;
    font-size: 20pt;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-wrap: nowrap;
  }

  .rollable:hover,
  .rollable-item:hover,
  .system-rollable:hover {
    cursor: pointer;
  }

  /* Statistics Page */
  .stats-container {
    display: flex;
    flex-flow: column;
    margin: 5px;

    .stats-list {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      flex-shrink: 0;
      padding-left: 15px;
      padding-right: 15px;

      .attribute,
      .skill {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .specialty {
    position: relative;
    top: -5px;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
  }

  .stats-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .skills-attributes,
    .custom-rolls {
      flex: 1 1 auto;
    }

    .custom-rolls {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;

      .items-list {
        flex: 1 1 auto;
        padding: 5px;
      }

      .item-image {
        max-width: 30px;

        img {
          border-radius: 0;
        }
      }

      .item-name {
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 5px;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .item-controls {
        text-align-last: right;
        max-width: 30px;
      }
    }

    .edit-skill {
      margin-left: -15px;
    }

    .stats-container {
      .stats-footer {
        text-align: center;
      }
    }
  }
}

/* Increase z-index of the window handle to compensate for the actor banner*/
.window-app .window-resizable-handle {
  z-index: 2;
}

/* Vampire Font in the sheet banners */
.vampire-font-headers .actor.sheet {
  .sheet-banner,
  .field-header,
  .resource-header,
  .item-header,
  .specialty {
    font-family: "vampireRevised", "sans-serif";
  }
}
