.item.sheet {
	.window-content {
		padding: 0;
	}

	.item-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.profile-img {
			flex: 0 0 100px;
			min-height: 50px;
			max-height: 205px;
			height: auto;
			width: 100px;
			margin-right: 0;
		}

		.header-fields {
			flex: 1;
			margin-top: auto;

			.itemname {
				font-size: 35px;
				font-family: var(--font-h1);
			}

			.header-details {
				padding: 5px;
			}
		}

		.item-resource {
			text-wrap: nowrap;
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.tabs {
		a.active {
			font-weight: bold;
		}
	}

	a[data-tab="dicepool"] {
		.remove-dice {
			flex-grow: 0;
			padding: 4px;
		}
	}

	section.tab {
		padding: 10px 10px 0px 10px;
		overflow-y: scroll;
		height: 100%;

		prose-mirror {
			max-height: fit-content;
		}
	}
}
