/* Variables */
:root {
  --system-dark-primary: #000000f0;
  --ui-background-dark-texture: url("/systems/vtm5e/assets/ui/ui_background_dark_texture.webp");
}

/* Sheet window Header */
.theme-dark .sheet .window-header {
  background-color: var(--system-dark-primary);
}

/* Sheet Window Content */
.theme-dark .sheet .window-content {
  background-color: #000000f0;
  color: #CCC;
  background-blend-mode: hard-light;
}

.theme-dark .sheet .window-content input {
  color: #CCC;
}

/* Navbar */
.theme-dark .actor.sheet .sheet-tabs > [data-tab] .navicon {
  background-color: black;
  border: 1px solid #CCC;
}

.theme-dark .actor.sheet.hunter .tabs-container .active .navicon {
  color: black;
}

.theme-dark .actor.sheet.hunter .tabs-container .active .navicon .symbol {
  color: black;
}

/* Resource Counters */
.theme-dark .resource-counter .resource-counter-step {
  border: 1px solid #CCC;
}

.theme-dark .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  );
}

.theme-dark .resource-counter .resource-counter-step[data-state="x"] {
  background: linear-gradient(
    45deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  ),
  linear-gradient(
    135deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  );
}

/* Actor Sheet */
.actor.sheet .stats-container {
  background-color: #1d1d1d;
  border-color: #CCC;
}

/* Sidebar */
.theme-dark #sidebar {
  background: url(/systems/vtm5e/assets/ui/sidebar_dark.webp) repeat;
}

/* Foundry Controls UI */
.theme-dark #controls ol.control-tools > li {
  background: var(--ui-background-dark-texture);
}

.theme-dark #navigation #scene-list .scene,
.theme-dark #navigation #scene-list .scene.view,
.theme-dark #navigation #scene-list .scene.context,
.theme-dark #navigation #scene-list .scene.gm,
.theme-dark #navigation .nav-item,
.theme-dark #navigation #nav-toggle {
  background: var(--ui-background-dark-texture);
}

.theme-dark #hotbar .macro {
  background: rgba(43, 43, 43, 0.5);
}

.theme-dark #hotbar .bar-controls {
  background: var(--ui-background-dark-texture);
}

.theme-dark .app {
  background: var(--ui-background-dark-texture);
}