/* Variables */
:root {
  --system-dark-primary: #000000f0;
  --ui-background-dark-texture: url("/systems/vtm5e/assets/ui/ui_background_dark_texture.webp");
}

/* Sheet window Header */
.dark-theme .sheet .window-header {
  background-color: var(--system-dark-primary);
}

/* Sheet Window Content */
.dark-theme .sheet .window-content {
  background-color: #000000f0;
  color: #FFF;
  background-blend-mode: hard-light;
}

.dark-theme .sheet .window-content input {
  color: #FFF;
}

/* Navbar */
.dark-theme .actor.sheet .sheet-tabs > [data-tab] .navicon {
  background-color: black;
  border: 1px solid #FFF;
}

.dark-theme .actor.sheet.vampire .tabs-container .navicon .wod5e-symbol,
.dark-theme .actor.sheet.werewolf .tabs-container .navicon .wod5e-symbol {
  color: #ff0000;
}

.dark-theme .actor.sheet.hunter .tabs-container .navicon .wod5e-symbol {
  color: #ff8f00;
}

/* Resource Counters */
.dark-theme .resource-counter .resource-counter-step {
  border: 1px solid #FFF;
}

.dark-theme .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  );
}

.dark-theme .resource-counter .resource-counter-step[data-state="x"] {
  background: linear-gradient(
    45deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  ),
  linear-gradient(
    135deg,
    transparent 0%,
    transparent 43%,
    white 45%,
    white 55%,
    transparent 57%,
    transparent 100%
  );
}

/* Actor Sheet */
.dark-theme .actor.sheet .actor-header input,
.dark-theme .actor.sheet .actor-header .resource,
.dark-theme .actor.sheet .stats-container {
  background-color: #1d1d1d;
  border-color: #FFF;
}

/* Sidebar */
.dark-theme #sidebar {
  background: url(/systems/vtm5e/assets/ui/sidebar_dark.webp) repeat;
}

/* Foundry Controls UI */
.dark-theme #controls ol.control-tools > li {
  background: var(--ui-background-dark-texture);
}

.dark-theme #navigation #scene-list .scene,
.dark-theme #navigation #scene-list .scene.view,
.dark-theme #navigation #scene-list .scene.context,
.dark-theme #navigation #scene-list .scene.gm,
.dark-theme #navigation .nav-item,
.dark-theme #navigation #nav-toggle {
  background: var(--ui-background-dark-texture);
}

.dark-theme #navigation #scene-list .scene.active {
  background: var(--ui-background-active-texture);
}

.dark-theme #hotbar .macro {
  background: rgba(43, 43, 43, 0.5);
}

.dark-theme #hotbar .bar-controls {
  background: var(--ui-background-dark-texture);
}

.dark-theme .app {
  background: var(--ui-background-dark-texture);
}