<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="grid grid-2col flexrow">
        {{> "systems/vtm5e/display/shared/actors/parts/spc/standard-dice-pools.hbs"}}

        {{> "systems/vtm5e/display/shared/actors/parts/spc/exceptional-dice-pools.hbs"}}
    </div>
    <div class="flex-center">
        {{#ifeq gamesystem 'vampire'}}
            {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-disciplines.hbs"}}
        {{/ifeq}}

        {{#ifeq gamesystem 'werewolf'}}
            {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-gifts.hbs"}}
        {{/ifeq}}

        {{#ifeq gamesystem 'hunter'}}
            {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-edges.hbs"}}
        {{/ifeq}}
    </div>
</section>
