<div class="actor-type-field">
    <select class="spc-type-selector" name="{{actorTypePath}}" data-type="String"{{#if actor.limited}} disabled{{/if}}>
        {{selectOptions actorOptions selected=currentActorType localize=true}}
    </select>
</div>
