<div class="actor-type-field">
  <select class="spc-type-selector" name="system.spcType" data-type="String"{{#if actor.limited}} disabled{{/if}}>
    {{selectOptions spcTypes selected=actor.system.spcType localize=true}}
  </select>
</div>
