<div class="resource flex-group-center humanity">
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-counter editable" data-states="/:stains,-:value" data-value="{{actor.system.humanity.value}}" data-stains="{{actor.system.humanity.stains}}" data-name="system.humanity">
            {{#numLoop 10}}
            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>
