<div class="humanity">
    <div class="resource-content">
        <div class="resource-counter editable" data-states="/:stains,-:value" data-value="{{humanity.value}}" data-stains="{{humanity.stains}}" data-name="system.humanity">
            {{#numLoop 10}}
            <span class="resource-counter-step" data-action="squareCounterChange" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>
