{{!-- Group Sheet Header --}}
<header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
    <!-- Middle of the header -->
    {{> "systems/wod5e/display/shared/actors/parts/header-profile.hbs"}}
    <div class="header-fields">
        <div class="header-fields-right">
            <div class="flexcol">
                {{#ifeq currentActorType 'coterie'}}
                    {{> "systems/wod5e/display/vtm/actors/coterie-sheet.hbs"}}
                {{/ifeq}}

                {{#ifeq currentActorType 'cell'}}
                    {{> "systems/wod5e/display/htr/actors/cell-sheet.hbs"}}
                {{/ifeq}}

                {{#ifeq currentActorType 'pack'}}
                    {{> "systems/wod5e/display/wta/actors/pack-sheet.hbs"}}
                {{/ifeq}}
            </div>
        </div>
    </div>
</header>
