{{!-- Mortal Sheet Header --}}
<header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
    <div class="header-fields">
        <div class="header-fields-left">
            {{!-- Health Tracker --}}
            {{> "systems/vtm5ec/display/shared/actors/parts/health.hbs"}}
        </div>
    </div>
    <!-- Middle of the header -->
    {{> "systems/vtm5ec/display/shared/actors/parts/header-profile.hbs"}}
    <div class="header-fields">
        <div class="header-fields-right">
            {{!-- Willpower Tracker --}}
            {{> "systems/vtm5ec/display/shared/actors/parts/willpower.hbs"}}
        </div>
    </div>
</header>
