<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">
  {{#if displayBanner}}
    <div class="sheet-banner">
      <h1>{{localize "WOD5E.SPC.Label"}}</h1>
    </div>
  {{/if}}

  {{!-- SPC Sheet Header --}}
  <header class="actor-header">
      <div class="header-fields-top">
        <div class="header-profile-img">
            {{!-- Actor image and sheet lock toggle button --}}
            {{> "systems/vtm5e/display/shared/actors/parts/profile-img.hbs"}}
        </div>
        <div class="header-rows-top">
            <div class="header-row-1 grid-3col">
                {{!-- Text input header fields --}}
                <h1 class="charname"><input class="no-border" name="name" type="text" value="{{actor.name}}"
                  placeholder="{{localize 'WOD5E.Name'}}" /></h1>
                {{> "systems/vtm5e/display/shared/actors/parts/spc/type-selector.hbs"}}
            </div>
            <div class="spc-header-row-2 grid-2col">
                {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
                {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
                {{> "systems/vtm5e/display/shared/actors/parts/spc/generaldifficulty.hbs"}}
            </div>
        </div>
    </div>
  </header>

  {{!-- SPC Sheet Body --}}
  <section class="sheet-body">
      <div class="resource grid grid-2col flexrow">
      {{> "systems/vtm5e/display/shared/actors/parts/spc/standard-dice-pools.hbs"}}
      
      {{> "systems/vtm5e/display/shared/actors/parts/spc/exceptional-dice-pools.hbs"}}
      
      {{> "systems/vtm5e/display/shared/actors/parts/notes.hbs"}}

      {{#ifeq actor.system.gamesystem 'vampire'}}
        {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-disciplines.hbs"}}
      {{/ifeq}}

      {{#ifeq actor.system.gamesystem 'werewolf'}}
        {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-gifts.hbs"}}
      {{/ifeq}}

      {{#ifeq actor.system.gamesystem 'hunter'}}
        {{> "systems/vtm5e/display/shared/actors/parts/spc/spc-edges.hbs"}}
      {{/ifeq}}
      </div>
  </section>
</form>
