<div class="compendium-browser-sidebar flexcol">
  <div class="search-section">
    <input type="text" name="search" class="search-input" placeholder="Search..." data-action="search"/>
  </div>
  <hr>
  <div class="filters-section flexcol">
    <div class="filter-group">
      <label>Type</label>
      <select name="type" data-action="filter">
        <option value="">All</option>
        <option value="core">Core</option>
        <option value="vampire">VTM</option>
        <option value="werewolf">WTA</option>
        <option value="hunter">HTR</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="results-count">
    {{itemsInList.length}} Results
  </div>
</div>
