<header class="item-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt="Item Image" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}" /></h1>
    </div>
</header>
