<div class="tab" data-group="primary" data-tab="settings">
  <div class="form-group">
    <label>Actor Header Background</label>
    <div class="form-fields">
      <file-picker name="system.settings.headerbg" type="imagevideo" value="{{actor.system.settings.headerbg}}" noupload></file-picker>
    </div>
  </div>
</div>