<div class="experience">
    <div class="field-header big-header">
        <input id="xpName" name="xpName" type="text" value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}"/>
    </div>
    <div class="grid grid-2col flex-center">
        <div class="flexcol flex-center">
            <b>{{localize "WOD5E.Value"}}</b>
            <input class="input-value" id="xpValue" name="xpValue" min="0" type="number" value="{{value}}" placeholder="0"/>
        </div>
    </div>
    <hr>
</div>
