<div class="tab features" data-group="primary" data-tab="features">
    <div class="flexrow">
        <div class="character-details flexcol">
            <div class="flexcol flex-group-center">
                <!-- Core character details -->
                {{> "systems/vtm5e/display/shared/actors/parts/core-details.hbs"}}
            </div>
        </div>
        <div class="features-list item-list">
            <!-- Core features -->
            {{> "systems/vtm5e/display/shared/actors/parts/core-features.hbs"}}
        </div>
    </div>
</div>
