<div class="tab flex-center" data-group="primary">
    <label class="resource-label">{{localize "WOD5E.Tabs.Notes"}}</label>
    <div class="resource" style="min-height: 264px;"> 
        <div class="flex-group-left">
            <div class="description-content">
                <prose-mirror name="system.notes" data-document-u-u-i-d="{{../actor.uuid}}" value="{{actor.system.notes}}" toggled="true">
                    {{{enrichedNotes}}}
                </prose-mirror>
            </div>
        </div>
    </div>
</div>