:root {
  --werewolf-primary: #4e2100ef;
}

/* Define splat-specific colours for the WOD5E Symbols */
.wod5e .symbol.werewolf {
  color: var(--werewolf-primary);
}

.sheet.werewolf .window-header {
  background: var(--werewolf-primary);
}

.sheet.werewolf {
  box-shadow: 0 0 20px var(--werewolf-primary);
}

.actor.sheet.werewolf .sheet-banner {
  background-color: var(--werewolf-primary);
  color: #CCC;
}

/* Resource counters */
.sheet.werewolf .resource-value .resource-value-step.active,
.sheet.werewolf .resource-value-static .resource-value-static-step.active,
.sheet.werewolf .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--werewolf-primary);
}

/* Group Sheets */
.group-header.pack {
  background-color: rgb(78 33 0 / 80%) !important;
}
