:root {
  --werewolf-primary: #4e2100ef;
}

.sheet.werewolf .window-header {
  background: var(--werewolf-primary);
}

.sheet.werewolf {
  box-shadow: 0 0 20px var(--werewolf-primary);
}

.actor.sheet.werewolf .sheet-banner {
  background-color: var(--werewolf-primary);
  color: #CCC;
}
