<div class="tab" data-group="primary" data-tab="description">
    <prose-mirror name="system.description" data-document-u-u-i-d="{{../item.uuid}}" value="{{item.system.description}}"
        toggled="true">
        {{{enrichedDescription}}}
    </prose-mirror>
</div>
