<div class="flex-group-center flexrow">
    <div class="field-header flexrow">
        {{localize 'WOD5E.ItemsList.Sourcebook'}}
    </div>
    <div>
        <input type="text" name="system.source.book" value="{{sourcebook}}"/>
    </div>
</div>
<div class="flex-group-center flexrow">
    <div class="field-header flexrow">
        {{localize 'WOD5E.ItemsList.PageNumber'}}
    </div>
    <div>
        <input class="source-page-input" type="number" name="system.source.page" value="{{pageNumber}}"/>
    </div>
</div>
