<div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
        <div class="despair-box">
            <span class="despair-toggle{{#if despairActive}} active{{/if}}" data-action="toggleDespair"></span>
        </div>
    </div>
</div>
