<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "WOD5E.HTR.Redemption"}}</label>
    <div class="resource resource-content">
        <span class="data-item">
            {{drive.system.redemption}}
        </span>
    </div>
</div>
