<div class="saved-rolls">
  <div class="title">Saved Rolls</div>
  <div class="flexcol list">
    {{#each savedRolls as |roll key|}}
      <div>
        {{roll.name}}
      </div>
    {{/each}}
  </div>
</div>
