<div class="saved-rolls">
  <div class="title">Saved Rolls</div>
  <div class="flexcol list">
    {{#each savedRolls as |roll key|}}
      <div class="saved-roll {{#ifeq key ../activeRollID}}active{{/ifeq}}" data-action="selectSavedRoll" data-id="{{key}}">
        {{roll.name}}
      </div>
    {{/each}}
  </div>
</div>
