:root {
  --hunter-primary: #cc6d28;
}

.sheet.hunter .window-header {
  background: var(--hunter-primary);
}

.sheet.hunter {
  box-shadow: 0 0 20px var(--hunter-primary);
}

.actor.sheet.hunter .sheet-banner {
  background-color: var(--hunter-primary);
  color: #CCC;
}
