:root {
  --hunter-primary: #cc6d28;
}

/* Define splat-specific colours for the WOD5E Symbols */
.wod5e .symbol.hunter {
  color: var(--hunter-primary);
}

.sheet.hunter .window-header {
  background: var(--hunter-primary);
}

.sheet.hunter {
  box-shadow: 0 0 20px var(--hunter-primary);
}

.actor.sheet.hunter .sheet-banner {
  background-color: var(--hunter-primary);
  color: #CCC;
}

/* Resource counters */
.sheet.hunter .resource-value .resource-value-step.active,
.sheet.hunter .resource-value-static .resource-value-static-step.active,
.sheet.hunter .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--hunter-primary);
}
