.compendium-browser {
  .window-content {
    display: flex;
    flex-direction: row;
  }

  .compendium-browser-body {
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;

    .results-list {
      margin: 0 20px 0 20px;

      .result-item {
        padding: 3px;

        .result-image {
          flex: 0 0 50px;
          height: 50px;
          width: 50px;
          object-fit: cover;
          object-position: 50% 0;
        }

        .result-details {
          margin-left: 10px;
        }
      }
    }
  }

  .compendium-browser-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 6px;
    border-right: 1px solid;

    .search-section {
      flex: 0 0 auto;
    }

    .search-filters {
      flex: 1 1 auto;
      min-height: 0;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      .filters-section {
        margin-top: 10px;
      }
    }

    .results-count {
      flex: 0 0 auto;
      text-align: center;
    }
  }
}

.multi-select {
  position: relative;

  .multi-select-dropdown {
    left: 0;
    border: 1px solid;
    padding: 5px;
    z-index: 10;
    min-width: 150px;

    input {
      max-width: fit-content;
      line-height: 0;
    }
  }

  .multi-select-dropdown.hidden {
    display: none;
  }

  .multi-select-option {
    gap: 5px;
    padding: 2px 0;
  }
}
