.compendium-browser {
  .window-content {
    display: flex;
    flex-direction: row;
  }

  .results-list {
    margin: 0 20px 0 20px;

    .result-item {
      .result-image {
        max-width: 50px;
      }
    }
  }
}
