/* Foundry Controls UI */
#controls ol.control-tools > li {
  background: var(--ui-background-texture);
  border-radius: 0px;
}

#controls ol.control-tools > li.active,
#controls ol.control-tools > li:hover {
  background: var(--ui-background-active-texture);
}

#navigation #scene-list .scene,
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context,
#navigation #scene-list .scene.gm,
#navigation .nav-item,
#navigation #nav-toggle {
  background: var(--ui-background-texture);
}

#navigation #scene-list .scene.active {
  background: var(--ui-background-active-texture);
}

#hotbar .macro {
  background: rgb(24 51 103 / 50%);
}

#hotbar .bar-controls {
  background: var(--ui-background-texture);
}

.app {
  background: var(--ui-background-texture);
}

#players,
.bar-controls {
  border-radius: 0;
}