<h1 class="spc-type-field">
  <select class="no-border spc-type-selector" name="system.spcType" data-type="String"{{#if actor.limited}} disabled{{/if}}>
    {{selectOptions spcTypes selected=actor.system.spcType localize=true}}
  </select>
</h1>
