<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "WOD5E.WTA.Ban"}}</label>
    <div class="resource resource-content">
        <span class="data-item">
            {{{enrichedBan}}}
        </span>
    </div>
</div>
