<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexrow">
        <div class="character-details flexcol">
            <div class="flexcol flex-group-center">
                <!-- Core character details -->
                {{> "systems/vtm5ec/display/shared/actors/parts/core-details.hbs"}}

                <!-- Werewolf-specific details -->
                {{> "systems/vtm5ec/display/wta/actors/parts/patron-spirit.hbs"}}

                {{> "systems/vtm5ec/display/wta/actors/parts/favor.hbs"}}

                {{> "systems/vtm5ec/display/wta/actors/parts/ban.hbs"}}

                <!-- Chronicle Tenets -->
                {{> "systems/vtm5ec/display/shared/actors/parts/chronicle-tenets.hbs"}}

                <!-- Touchstones/Convictions -->
                {{> "systems/vtm5ec/display/shared/actors/parts/touchstones-convictions.hbs"}}
            </div>
        </div>
        <div class="features-list item-list">
            <!-- Core features -->
            {{> "systems/vtm5ec/display/shared/actors/parts/core-features.hbs"}}
        </div>
    </div>
</section>
