{{#if actor.system.frenzyActive}}
    <button class="werewolf-button end-frenzy" type="button" name="endfrenzy">{{localize "WOD5E.WTA.EndFrenzy"}}</button>
{{else}}
    <button class="werewolf-button begin-frenzy" type="button" name="beginfrenzy">{{localize "WOD5E.WTA.EnterFrenzy"}}</button>
{{/if}}