<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "WOD5E.WTA.GuidingSpirit"}}</label>
    <div class="resource resource-content">
        {{> "systems/wod5e/display/shared/actors/partials/dynamic-item-display.hbs" item=guidingSpirit type="guidingspirit"}}
    </div>
</div>
