<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexrow">
        {{> "systems/vtm5ec/display/wta/actors/parts/frenzy.hbs"}}
        <div class="flexrow balance-trackers">
            {{> "systems/vtm5ec/display/wta/actors/parts/balance.hbs"}}
        </div>
    </div>
    {{> "systems/vtm5ec/display/wta/actors/parts/forms.hbs"}}
</section>
