<div class="tab wolf flex-center" data-group="primary" data-tab="wolf">
    <div class="flexrow">
        {{> "systems/vtm5e/display/wta/actors/parts/frenzy.hbs"}}
        {{> "systems/vtm5e/display/wta/actors/parts/balance.hbs"}}
    </div>
    {{> "systems/vtm5e/display/wta/actors/parts/forms.hbs"}}
</div>
